[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqldump]
default-character-set=utf8

[mysqld]
key_buffer_size=16M
max_allowed_packet=8M
character-set-server=utf8

[mysqld_safe]